@import "tailwindcss";

@theme {
  --font-syne: 'Syne', sans-serif;
  --font-syne-mono: 'Syne Mono', monospace;
  --font-fraunces: 'Fraunces', serif;
}

body {
  font-family: 'Syne', sans-serif;
  background-color: #F1E7D4;
  min-height: 100vh;
  overflow-x: hidden;
}
